{% extends 'base.html'%}
{% block title %}
    我的网站|博客
{% endblock %}

{% block nav_blog_active %}active{% endblock %}
{% load staticfiles %}
{% load comment_tags %}
{% load get_blog_img %} <!--导入自定义过滤器，该变量就是上面蓝色字体名字 -->
{% load likes_tags %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <script src="{% static 'js/echarts-gl.js' %}"></script> 
    <script src="{% static 'js/echarts-wordcloud.min.js' %}"></script>  
{% endblock %}

{% block content %}
    <div id="list_row" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title %}博客列表{% endblock %}</div>
                    <div class="panel-body">
                        {% for blog in blogs %}
                            <div class="panel panel-default" style="margin-bottom: 10px">
                                <div class="panel-body">
                                    <div class="col-xs-12 col-md-3" style="padding: 0">
                                        <div>
                                            <div class="thumbnail effect-julia" style="max-height: 120px; overflow:hidden;">
                                                <a href="{% url 'blog_detial' blog.pk %}"><img src="{% get_blog_img blog.content %}"></a>
                                            </div>
                                            <!-- <div class="description">
                                                {{ blog.title }}
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-9">
                                        <div class="blog">                               
                                            <h3><a href="{% url 'blog_detial' blog.pk %}">
                                                {{ blog.title }}
                                            </a></h3>
                                            
                                            <p>{{ blog.content|striptags|truncatechars:120 }}</p>
                                        </div>
                                    </div>
                                    <div class="blog-info-description">
                                        <div class="col-xs-12 col-md-12">
                                            <p class="blog-info">
                                                分类 <span class="glyphicon glyphicon-tag"></span>:<a href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>&nbsp;&nbsp;
                                                发表日期 <span class="glyphicon glyphicon-time"></span>:{{ blog.created_time|date:"Y-m-d" }}&nbsp;&nbsp;
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                                阅读({{ blog.get_read_num }})&nbsp;&nbsp;
                                                <span class="glyphicon glyphicon-send"></span>
                                                评论({% get_comment_count blog %})&nbsp;&nbsp;
                                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                                点赞({% get_like_count blog %})                                  
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>--暂无博客，敬请期待--</h3>
                            </div>                               
                        {% endfor %}                          
                    </div>
                </div>
                <div class="paginator">                   
                    <ul class="pagination">
                        {# 上一页 #}
                        <li>
                            {% if page_of_blogs.has_previous %}
                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}                           
                        </li>
                        {# 全部页码 #}
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}
                                <li class="active"><span>{{ page_num }}</span></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {# 下一页 #}
                        <li>
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                    <p>
                        共有{{ page_of_blogs.paginator.count }}篇博客
                        当前第{{ page_of_blogs.number }}页
                        共{{ page_of_blogs.paginator.num_pages }}页
                    </p>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">博客分类</div>
                    <div class="panel-body">
                        <ul class="blog-types">
                            {% for blog_type in blog_types %}
                                <li>
                                    <a href="{% url 'blogs_with_type' blog_type.pk %}">
                                    {{ blog_type.type_name }} ({{ blog_type.blog_count }})
                                </a>
                                </li>
                            {% empty %}
                                <li>暂无分类</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">日期归档</div>
                    <div class="panel-body">
                        <ul>
                            {% for blog_date, blog_count in blog_dates.items %}
                                <li>
                                    <a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">{{ blog_date|date:"Y年m月" }} ({{ blog_count }})</a>                                   
                                </li>
                            {% endfor %}
                        </ul>
                    </div>      
                </div>
                <div class="panel panel-default">
                    
                    <div class="panel-body">
                        <div id="tag" style="height: 300px;width: auto;"></div>
                    </div>      
                </div>
                <div class="home-search-area" align="center">
                    <form action="" class="navbar-form navbar-right">
                        <input type="text" placeholder="搜索博文" class="form-control">
                        <button id="search" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_extends %}
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('tag'));

        // 指定图表的配置项和数据
        option = {
            title: {
                text: '标签云',
                x: 'center',
                textStyle: {
                    fontSize: 23
                }

            },
            backgroundColor: '',
            tooltip: {
                show: true
            },
            series: [{
                name: '标签',
                type: 'wordCloud',
                //size: ['9%', '99%'],
                sizeRange: [30, 45],
                //textRotation: [0, 45, 90, -45],
                rotationRange: [-45, 90],
                //shape: 'circle',
                textPadding: 0,
                autoSize: {
                    enable: true,
                    minSize: 30
                },
                textStyle: {
                    normal: {
                        color: function() {
                            return 'rgb(' + [
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160),
                                Math.round(Math.random() * 160)
                            ].join(',') + ')';
                        }
                    },
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: '#333'
                    }
                },
                data: []
            }]
        };
        var JosnList = [];
        {% for blog_type in blog_types %}
            JosnList.push({
                name: "{{ blog_type.type_name }}",
                value: {{ blog_type.blog_count }}
            });
        {% endfor %}
        option.series[0].data = JosnList;
    // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);       
    </script>
{% endblock %}